//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#define BASE 0
#define MATH 1
#define SYMB 2
#define ADJU  3

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <400>;
            require-prior-idle-ms = <400>;
            bindings = <&kp>, <&kp>;
        };

        hrmt: hrmt {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <400>;
            require-prior-idle-ms = <400>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "BASE";
            bindings = <
            &hrm LEFT_ALT Q  &hrm LEFT_CONTROL C  &hrm LEFT_GUI M  &hrm LEFT_SHIFT L  &kp ESC      &kp DEL        &hrm RIGHT_SHIFT G  &hrm RIGHT_GUI U  &hrm RIGHT_CONTROL F  &hrm RIGHT_ALT Z
            &kp I            &kp D                &kp N            &kp R              &kp K        &kp V          &kp S               &kp A             &kp H                 &kp O
&kp K_COPY  &kp J            &kp P                &kp COMMA        &kp W              &trans       &trans         &kp B               &kp DOT           &kp Y                 &kp X             &kp K_PASTE
                                                  &kp TAB          &hrmt 1 T          &kp SPACE    &kp BACKSPACE  &hrmt 2 E           &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
        &kp LEFT_ALT  &hrm LEFT_CONTROL CARET  &hrm LEFT_GUI LESS_THAN  &hrm LEFT_SHIFT GREATER_THAN  &trans    &trans        &hrm RIGHT_SHIFT RIGHT_PARENTHESIS  &hrm RIGHT_GUI RIGHT_BRACKET  &hrm LEFT_CONTROL RIGHT_BRACE  &kp RIGHT_ALT
        &kp ASTERISK  &kp PLUS                 &kp MINUS                &kp EQUAL                     &kp N5    &kp NUMBER_6  &kp LEFT_PARENTHESIS                &kp LEFT_BRACKET              &kp LEFT_BRACE                 &kp SLASH
&trans  &kp NUMBER_1  &kp NUMBER_2             &kp NUMBER_3             &kp NUMBER_4                  &trans    &trans        &kp NUMBER_7                        &kp N8                        &kp N9                         &kp N0         &trans
                                               &trans                   &trans                        &trans    &trans        &trans                              &trans
            >;
        };

        layer_2 {
            bindings = <
        &kp LEFT_ALT  &hrm LEFT_CONTROL PIPE  &hrm LEFT_GUI PERCENT  &hrm LEFT_SHIFT AMPS  &trans        &trans  &hrm RIGHT_SHIFT EXCL  &hrm RIGHT_GUI UNDER  &hrm RIGHT_CONTROL QUESTION  &kp RIGHT_ALT
        &kp COLON     &kp BACKSLASH           &kp DOUBLE_QUOTES      &kp SINGLE_QUOTE      &trans        &trans  &kp LEFT               &kp UP_ARROW          &kp RIGHT                    &kp SEMICOLON
&trans  &trans        &kp DOLLAR              &kp TILDE              &kp GRAVE             &sys_reset    &trans  &kp AT_SIGN            &kp DOWN              &kp HASH                     &trans         &trans
                                              &trans                 &trans                &trans        &trans  &trans                 &trans
            >;
        };
    };
};
