//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#define BASE 0
#define MATH 1
#define SYMB 2
#define ADJU  3

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "BASE";
            bindings = <
       &trans  &kp C        &kp M         &kp L         &kp ESC      &kp DEL        &kp G         &kp U         &kp F        &trans
       &kp I   &hrm LALT D  &hrm LCTRL N  &hrm LSHFT R  &kp K        &kp V          &hrm RSHFT S  &hrm RCTRL A  &hrm RALT H  &kp O
&kp Q  &kp J   &kp P        &kp COMMA     &kp W         &trans       &trans         &kp B         &kp DOT       &kp Y        &kp X   &kp Z
                            &kp TAB       &lt 1 T       &kp SPACE    &kp BACKSPACE  &lt 2 E       &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
        &trans        &kp CARET     &kp LESS_THAN  &kp GREATER_THAN  &trans    &trans        &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &trans
        &kp ASTERISK  &kp PLUS      &kp MINUS      &kp EQUAL         &kp N5    &kp NUMBER_6  &kp LEFT_PARENTHESIS   &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp SLASH
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp NUMBER_4      &trans    &trans        &kp NUMBER_7           &kp N8             &kp N9           &kp N0     &trans
                                    &trans         &trans            &trans    &trans        &trans                 &trans
            >;
        };

        layer_2 {
            bindings = <
        &trans     &kp PIPE                &kp PERCENT                     &kp AMPERSAND           &trans    &trans  &kp EXCL     &kp UNDER     &kp QUESTION  &trans
        &kp COLON  &mt LEFT_ALT BACKSLASH  &mt LEFT_CONTROL DOUBLE_QUOTES  &mt LSHFT SINGLE_QUOTE  &trans    &trans  &kp LEFT     &kp UP_ARROW  &kp RIGHT     &kp SEMICOLON
&trans  &trans     &kp DOLLAR              &kp TILDE                       &kp GRAVE               &trans    &trans  &kp AT_SIGN  &kp DOWN      &kp HASH      &trans         &trans
                                           &trans                          &trans                  &trans    &trans  &trans       &trans
            >;
        };
    };
};
